@CHARSET "UTF-8";

html,body{
    width : 100%;
    height : 100%;
    position : relative;
    background-color: rgba(82,86,97,1);
    /* background-color: rgba(25,15,25,1); */
    /* background-color : white; */
}

h1{
    width : 100%;
    height : 100%;
    font-size: 30px;
    text-align : center;
    margin : 0px;
}

#resetButton{
    position: absolute;
}

#header{
    width : 100%;
    height : 10%;
    text-align: center;
}

#treeArea{
    width : 100%;
    height : 30%;
    /* background-color: rgba(255,0,0,0.4); */
}

#matrixArea{
    width : 100%;
    height : 69%;
}

#matrixArea > svg{
    width : 100%;
    height : 100%;
}

#buttonList{
    width : 100px;
    height : 30px;
    position : absolute;
    font-size: 12px;
    margin-left : 20px;
    margin-top : 20px;
}

#compareButton{
    position : absolute;
    margin-left : 150px;
    margin-top : 20px;
    width : 100px;
    height : 30px;
    font-size: 12px;
}

#changeColor{
    position : absolute;
    margin-left : 280px;
    margin-top : 20px;
    width : 100px;
    height : 30px;
    font-size : 12px;
}

#dendroSelect{
    width : 120px;
    height : 30px;
    position : absolute;
    margin-left : 20px;
    margin-top : 70px;
}

#treeArea > svg{
    overflow: visible;
    margin-top : 5px;
}

.guideDescription{
    font-size: 10px;
}